{% extends 'baseadmin.html.twig' %}

{% block title %}
    Suppression
{% endblock %}

{% block categorie %}
    Vous avez bien supprimé le livre : {{ book.title }} !
{% endblock  %}

{% block return %}
    <a href="{{ path('books_admin') }}" class="button">retour</a>
{% endblock %}