{% extends 'baseadmin.html.twig' %}

{% block title %}
    Nos livres
{% endblock %}


{% block categorie %}
    des livres
{% endblock  %}





{% block content %}
    <article class="preview">
        <h2>Titre {{ book.title }}</h2>
        <p>Catégorie {{ book.style }} </p>
        <p>Nombre de page {{ book.nbPages }}</p>
        <p>Disponibité :
            {% if book.inStock %}
                disponible
            {% else %}
                non-disponible
            {% endif %}</p>
        <a href="{{ path('books_admin') }}" class="button">retour</a>
    </article>
{% endblock %}