{% extends 'baseadmin.html.twig' %}

{% block title %}
    Ajout/Modification
{% endblock %}

{% block return %}
    <a href="{{ path('books_admin') }}" class="button">retour</a>
{% endblock %}

{% block content %}
    <div class="forms">
        {{ form(bookFormView) }}
    </div>
{% endblock %}