{% extends 'base.html.twig' %}

{% block title %}
    Les auteurs
{% endblock %}

{% block categorie %}
    des auteurs
{% endblock  %}



{% block content %}
        <article class="preview">
            <h2>{{ author.firstName }} {{ author.name }}</h2>
            <p>né le {{ author.birthDate|date("d/m/Y")}}  {% if author.deathDate is not null %}et mort le {{ author.deathDate|date("d/m/Y") }}{% endif %}</p>
        </article>
{% endblock %}


