{% extends 'base.html.twig' %}

{% block title %}
    Nos livres
{% endblock %}


{% block categorie %}
    Retrouvez la liste des livres
{% endblock  %}





{% block content %}
    {% for book in books %}
        <article class="preview">
            <h2>Titre {{ book.title }}</h2>
            <p>Catégorie {{ book.style }} </br> Nombre de page {{ book.nbPages }} </br> Disponibité :
                {% if book.inStock %}
                    disponible
                {% else %}
                    non-disponible
                {% endif %}</p>
            <a href="{{ path('book_list', {'id':book.id}) }}" class="button">consulter</a>
        </article>
    {% endfor %}
{% endblock %}
