{% extends 'baseadmin.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <article class="preview_home_admin">
        <h1>Bienvenue</h1>
        <p>Vous êtes dans la partie administrateur de la bibliothèque Chipie Books. Vous allez pouvoir gérer l'ajout de livres et d'auteurs. Pour ce faire, il ne vous resete plus qu'à vous rendre dans les espaces ajouts de livres et d'auteurs</p>
    </article>
{% endblock %}
