{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}



{% block content %}
    <article class="preview">
        <h1>Bienvenue dans notre bibliothèque</h1>
    </article>
{% endblock %}
