{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block home %}
    <div>
        <img src="{{ asset('img/bibliotheque.jpg') }}" class="home_pic" alt="">

        <h1 class="home_title">Bienvenue dans la Bibliothèque Chipie Books</h1>
        <a href="{{ path('books_list') }}" class="button_home">Découvrir</a>
    </div>

{% endblock %}
